# Define the Terraform Cloud/Enterprise organization name
tfOrg = "my-terraform-cloud-org"

# Specify a list of workspace names in TF cloud  for export. You can use wildcards (e.g., ["*"]).
workspaceIds = ["*"]

# Specify a list of tags in TF cloud workspace tags to include during export.
# tfWorkspaceTags = ["example"]

# Specify a list of tags in TF cloud workspace tags to exclude during export.
# tfWorkspaceIgnoreTags = ["ignore"]

# Should Terraform state be exported to files?
stateExport = true

# Path Terraform state files to be exported to?
# exportPath = "out"